*{
    box-sizing: border-box;
}
.img-width{
    width: 100%;
    height: 100%;  
}
.bi{
    border-radius: 20px;
    height: 460px;
    width: 80%;
    
}
.fw{
font-weight: 700;
font-size: 40px;
}
.pw{
    top: -40px;
}
